body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 30px 10px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#average{
    font-weight: bold;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#totalStudents{
    font-weight: bold;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 10px 40px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#Examen{
    font-weight: bold;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#NoExamen{
    font-weight: bold;
    border: 2px solid #ff0000;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

form{
    background-color: rgb(255, 233, 174);
    padding: 20px;
    border: 2px solid #ff9d00;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 30px;
}

form div{
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 8px;
    border: 2px solid #ff9d00;
    border-radius: 5px;
    box-sizing: border-box;
}

button{
    background-color: #000000;
    color: white;
    padding: 10px;
    margin-bottom:5px;
    width: 50%;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    margin-bottom: 30px;
}

th,td{
    border: 2px solid #ff9d00;
    padding: 10px;
    background-color: rgb(255, 249, 233);
    text-align: center;
}

@media (max-width: 600px) {
.main-container {
    padding: 15px;
}
h2 {
    font-size: 1.5rem;
}
.form-box {
    gap: 10px;
}
input, button {
    font-size: 0.95rem;
}
th, td {
    font-size: 0.9rem;
    padding: 10px;
}
}